<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://ultra9.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>My Contacts</title>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
	<header>
		<div class="navbar navbar-primary">
			<div class="container">
				<ul class="nav navbar-nav">
					<li> <a th:text="${#httpServletRequest.remoteUser}" ></a></li>
					<li><a th:href="@{/Index}">Search</a></li>
					<li><a th:href="@{/Adding}">Add Contact</a></li>
					<li><a th:href="@{/login?logout}" th:text="@{Logout}"> </a></li>
				</ul>
			</div>
		</div>
	</header>


	<section layout:fragment="content"></section>


<footer>
    <div class="navbar-fixed-bottom">
      <div class="container">
        <small>
          Copyright @2018
        </small>
      </div>
    </div>
  </footer>
</body>
</html>